.search {
    flex: 1;
    align-items: center;

    .ms-SearchBox {
        background-color: rgba(0,0,0,0);
        border: 0;
    }

    .ms-SearchBox-field {
        border: 0;
    }

    .search-box {
        input {
            border: 0;
            border-radius: 0;
        }

        *:focus {
            outline: none;
            outline-offset: 0;
        }
    }
}
