import React, { useState } from 'react';
import { default as styles } from './Layout.module.scss';

import { Home } from '../dashboard/Home';

export const Layout = () => {
    return (
        <>

            <div className={styles.application}>
                <div className={styles.main}>
                    <div className={styles.contentScrollable}>
                        <div className={styles.content}>
                            <Home />
                        </div>
                    </div>
                </div>
            </div>
        </>
    );
};
